<?xml version="1.0"?>

<model>
  <name>teeyai_noceiling_2</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>TS_and_james</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    minor change of teeyai restaurant (without ceiling)
  </description>

</model>
