<?xml version="1.0"?>

<model>
  <name>hajameban_ori</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>TS_and_james</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    minor change 1 hajameban restaurant (without ceiling)
  </description>

</model>
