<?xml version="1.0"?>

<model>
  <name>ramen_restaurant</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>TS_and_james</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    ramen reataurant (without ceiling)
  </description>

</model>
